extends ../layouts/base.pug

block content
    .imgde
    form.writeForm(action="#" method="POST")
        div.writeWrapper
            div.writeWrapper__guide IMG
            div.writeWrapper__content 
                input(type="text" name="img" value=I.img readonly)
        div.writeWrapper
            div.writeWrapper__guide TITLE
            div.writeWrapper__content 
                input(type="text" name="title" value=I.title readonly)
        div.writeWrapper        
            div.writeWrapper__guide AUTHOR
            div.writeWrapper__content 
                input(type="text" name="author" value=I.author readonly) 
        div.imgwriteWrapper
            div.imgwriteWrapper__guide DESC
            div.imgwriteWrapper__content
                textarea(name="desc" readonly)=I.description 
    
    form.imgForm(action="/image" method="GET")
        input(type="submit" value="뒤로가기")   
    if dev 
        form.deleteForm(action="/deleteBoard", method="POST")
            input(type="hidden" name="id" value=I._id)
            input(type="submit" value="삭제하기")     
        form.updateForm(action="/edit", method="GET")
            input(type="hidden" name="id" value=I._id)
            input(type="submit" value="수정하기")             